.TableItem {
  display: flex;
  justify-content: space-between;
  margin: 15px 30px;
  box-sizing: border-box;
}

.actions span {
  margin-right: 75px;
}

.actions span:nth-child(2) {
  margin-right: 83px;
}

.actions span:last-child {
  margin-right: 3px;
}

.actionsAll span {
  margin-right: 50px;
}

.actionsAll span:last-child {
  margin: 0;
}

@media screen and (max-width: 510px) {
  .TableItem {
    flex-direction: column;
  }
}

@media screen and (max-width: 438px) {
  .TableItem {
    margin: 15px 0;
  }
}

@media screen and (max-width: 370px) {
  .TableItem {
    margin: 15px 0;
  }

  .actionsAll span {
    margin-right: 20px;
  }

  .actionsAll span:last-child {
    margin: 0;
  }

  .actions span {
    margin-right: 48px;
  }

  .actions span:nth-child(2) {
    margin-right: 55px;
  }

  .actions span:last-child {
    margin-right: 0;
  }
}


