.PermissionSection {
  padding: 10px 10px;
  background: #a3acb1;
  max-width: 800px;
  border: 2px solid black;
  min-height: 50vh;
}

.Button {
  margin: 20px 30px 20px 0;
  float: right;
}

@media screen and (max-width: 510px) {
  .PermissionSection {
    min-height: 68vh;
  }

  .Button {
    margin: 20px 0 20px 27px;
    float: none;
  }
}

@media screen and (max-width: 438px) {
  .PermissionSection {
    padding: 5px;
  }

  .Button {
    margin: 20px 0;
    float: none;
  }
}
